@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Curicons';
    src: url('../fonts/curicons-1.4.woff');
}
@keyframes fadeInBackground {
  0%  { opacity: 0; }
  100% { opacity: 0.7; }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes fadeInControls {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
    margin: 0;
    font-family: 'Open Sans Light';
    background: black;
    color: #FFF;
}
p {
    font-size: 14px;
    color: #FFF;
    font-weight: 300;
}
a {
    color: #FFF;
    text-decoration: none;
}
strong {
    font-size: 20px;
}
#hud {
    will-change: opacity;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
}
.delayedFadeIn {
    animation: fadeInControls 500ms linear;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

#background {
    will-change: opacity;
    transform: scale(1);
    width: 120vw;
    height: 120vh;
    opacity: 0;
    margin: -10vh 0 0 -10vw;
    -webkit-filter: blur(40px);
}
#background.fadeIn {
    animation: fadeInBackground 250ms linear;
    animation-fill-mode: forwards;
}

.fadeInUp {
  animation-name: fadeInUp;
}
#meme {
    margin: auto;
    display: block;
}
.frame, .meme-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.meme-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
body.onboarding .meme-wrapper,
body.onboarding #hud {
    display: none;
}
.onboarding-message {
    opacity: 0;
    transition: opacity 250ms ease-in;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: 200px auto 0;
    font-size: 14px;
    z-index: 1;
}
body.onboarding .onboarding-message {
    opacity: 1;
    z-index: 10000;
}
header, footer {
    z-index: 1000;
}
#meme-link {
    will-change: transform, opacity;
    display: block;
    text-decoration: none;
    width: 375px;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 1000;
}
#meme-link:hover {
    transform: scale(1.1);
}
#meme-link p {
    font-size: 15px;
    margin-right: 60px;
    margin-top: 10px;
    line-height: 22px;
}
#meme-link .play {
    float: right;
    border: 1px solid #FFF;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    color: #FFF;
    margin-top: 10px;
    text-align: center;
    position: relative;
}
#meme-link .mp-play {
    font-size: 25px;
    position: absolute;
    top: 4px;
    left: 9px;
}
header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin: 10px;
}
header a {
    border-bottom: 1px solid #FFF;
}
header h1,
header p {
    font-size: 14px;
    color: #FFF;
    font-weight: 300;
    margin: 0;
}
header p {
    float: right;
}
i {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
}
.loading {
    margin-top: 40px;
    background-image: url(/images/white-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 75px;
    height: 58px;
    display: inline-block;
    opacity: 0.5;
    animation: pulse 1500ms ease-in-out infinite;
    animation-fill-mode: alternate;
}
.logo {
    transition: opacity 200ms;
    background-image: url(/images/white-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 39px;
    height: 30px;
    bottom: 10px;
    left: 10px;
    display: block;
    opacity: 0.5;
}
.logo:hover {
    opacity: 0.8;
}

.social-links {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.social-links li {
    display: inline;
    list-style-type: none;
}
.social-links a {
    font-size: 20px;
    opacity: 0.5;
    transition: opacity 250ms ease;
    margin: 0px 3px;
}
.social-links a:hover {
    opacity: 1;
}

i:before {
    font-family: 'Curicons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    vertical-align: middle;
    text-decoration: inherit;
    color: inherit;
}
i.mp-play:before                { content: '\f401'; }
i.facebook:before               { content: '\f300'; }
i.facebook-sign:before          { content: '\f301'; }
i.twitter:before                { content: '\f302'; }
i.twitter-sign:before           { content: '\f303'; }
i.linkedin:before               { content: '\f304'; }
i.linkedin-sign:before          { content: '\f305'; }
i.google:before                 { content: '\f306'; }
i.google-sign:before            { content: '\f307'; }
i.email:before                  { content: '\f308'; }
i.tumblr:before                 { content: '\f309'; }
i.tumblr-sign:before            { content: '\f30A'; }
i.pinterest:before              { content: '\f30B'; }
i.pinterest-sign:before         { content: '\f30C'; }
i.share-this:before             { content: '\f30D'; }
i.share-this-sign:before        { content: '\f30E'; }
i.link-sign:before              { content: '\f30F'; }
i.instagram:before              { content: '\f310'; }
i.instagram-sign:before         { content: '\f311'; }
i.reddit:before                 { content: '\f312'; }
i.reddit-sign:before            { content: '\f313'; }
i.imgur:before                  { content: '\f314'; }
i.imgur-sign:before             { content: '\f315'; }
i.flipboard:before              { content: '\f316'; }
i.flipboard-sign:before         { content: '\f317'; }
i.rss:before                    { content: '\f047'; }
i.rss-sign:before               { content: '\f048'; }
